<div class="container">
  <h1>
    SkiDash
  </h1>
  <section>
    <div class="row row-table">
      <div class="col-md-3 td-top">
        <h1>
          Eldora
        </h1>
        <h3>Opening: Dec 1(e)</h3>
        <script>countdown("12/01/2015 8:30 AM", "eldora")</script>
        <h4 id="eldora"></h4>
        <br>
        <br>

        <p>
          Weather Forecast
        </p>
        <p><%= @weather_lookup.temperature %>&#176; <%= @weather_lookup.condition %></p>
        <p>Wind: <%= @weather_lookup.wspd %> mph</p>
        <p>Humidity: <%= @weather_lookup.humidity %>%</p>
        <%= image_tag @weather_lookup.icon %>

        <p>
          Total Snowfall
        </p>
        <p>
          Ski Area Webcam
        </p>
        <p>
          Traffic Update
        </p>

      </div>

        <div class="col-md-3 td-top">
          <h1>
            Steamboat
          </h1>
          <h3>Opening: Nov 26</h3>
          <script>countdown("11/26/2015 8:30 AM", "steamboat")</script>
          <h4 id="steamboat"></h4>
          <br>
          <br>

          <p>Weather Forecast</p>
          <p>
            Total Snowfall
          </p>
          <p>
            Ski Area Webcam
          </p>
          <p>
            Traffic Update
          </p>

        </div>

      <div class="col-md-3 td-top">
        <h1>
          Breckenridge
        </h1>
        <h3>Opening: Nov 13</h3>
        <script>countdown("11/13/2015 8:30 AM", "breckenridge")</script>
        <h4 id="breckenridge"></h4>
        <br>
        <br>

        <p>
          Weather Forecast
        </p>
        <p>
          Total Snowfall
        </p>
        <p>
          Ski Area Webcam
        </p>
        <p>
          Traffic Update
        </p>

      </div>

      <div class="col-md-3 td-top">
        <h1>
          A-Basin
        </h1>
        <h3>Opening: Oct 20(e)</h3>
        <script>countdown("10/20/2015 8:30 AM", "abasin")</script>
        <h4 id="abasin"></h4>
        <br>
        <br>

          <p>
            Weather Forecast
          </p>
        <p>
            Total Snowfall
          </p>
        <p>
            Ski Area Webcam
          </p>
        <p>
          Traffic Update
        </p>

      </div>

    </div>
  </section>
</div>

