<%= image_tag "http://api.wunderground.com/api/#{ENV['WEATHER_API']}/animatedradar/q/CO/Frisco.gif?newmaps=1&timelabel=1&timelabel.y=10&num=5&delay=50", :id =>"radar"%>


  <section>
    <h1>SkiDash</h1>

    <div class="form-group">
    <div class="col-md-3 td-top" id="mountain-button1" style="display: block">
      <%= collection_select(:mountain, :id, Mountain.order('name'), :id, :name, {:include_blank => "Select Mountain"}, {class: "form-control", id: "mountain-form"}) %>
    </div>
    <div class="col-md-3 td-top" id="mountain-button2" style="display: block">
      <%= collection_select(:mountain, :id, Mountain.order('name'), :id, :name, {:include_blank => "Select Mountain"}, {class: "form-control", id: "mountain-form"}) %>
      </div>
    <div class="col-md-3 td-top" id="mountain-button3" style="display: block">
      <%= collection_select(:mountain, :id, Mountain.order('name'), :id, :name, {:include_blank => "Select Mountain"}, {class: "form-control", id: "mountain-form"}) %>
      </div>
    <div class="col-md-3 td-top" id="mountain-button4" style="display: block">
      <%= collection_select(:mountain, :id, Mountain.order('name'), :id, :name, {:include_blank => "Select Mountain"}, {class: "form-control", id: "mountain-form"}) %>
      </div>
    </div>


    <div id="button" style="display: block"><button class="btn btn-primary btn-default btn-lg" type="button" onclick="showWeather()">See Forecast</button></div>
    <div id="content" style="display: none; margin-top: 125px;">
    <%= render partial: "shared/forecasts" %>

    <%= render partial: "shared/camera" %>

    <%= render partial: "shared/tweets" %>
    </div>

  </section>


<video autoplay loop poster="https://s3-us-west-2.amazonaws.com/skidash/snow-lifts.jpg">
  <source src="https://s3-us-west-2.amazonaws.com/skidash/snow-lifts.mp4" type="video/mp4">
  <source src="https://s3-us-west-2.amazonaws.com/skidash/snow-lifts.ogv" type="video/ogg">
  <source src="https://s3-us-west-2.amazonaws.com/skidash/snow-lifts.webm" type="video/webm">

</video>

