<img id="radar" src="http://api.wunderground.com/api/e00b55e1d9c62820/animatedradar/q/CO/Frisco.gif?newmaps=1&timelabel=1&timelabel.y=10&num=5&delay=50">
<div class="container">
  <h1>
    SkiDash
  </h1>

  <section>
    <div class="row row-table">
      <div class="col-md-3 td-top">
        <h2>
          Eldora
        </h2>
        <h3>Opening: Dec 1(e)</h3>
        <script>countdown("12/01/2015 8:30 AM", "eldora")</script>
        <h4 id="eldora"></h4>
        <br>
        <br>

        <%= render partial: "shared/forecast_eld" %>

      </div>

        <div class="col-md-3 td-top">
          <h2>
            Steamboat
          </h2>
          <h3>Opening: Nov 26</h3>
          <script>countdown("11/26/2015 8:30 AM", "steamboat")</script>
          <h4 id="steamboat"></h4>
          <br>
          <br>

          <%= render "shared/forecast_ste" %>


        </div>

      <div class="col-md-3 td-top">
        <h2>
          Breckenridge
        </h2>
        <h3>Opening: Nov 13</h3>
        <script>countdown("11/13/2015 8:30 AM", "breckenridge")</script>
        <h4 id="breckenridge"></h4>
        <br>
        <br>

        <%= render "shared/forecast_bre" %>

      </div>

      <div class="col-md-3 td-top">
        <h2>
          A-Basin
        </h2>
        <h3>Opening: Oct 20(e)</h3>
        <script>countdown("10/20/2015 8:30 AM", "abasin")</script>
        <h4 id="abasin"></h4>
        <br>
        <br>

        <%= render "shared/forecast_aba" %>

      </div>

    </div>
    <%= render partial: "shared/camera" %>
  </section>



</div>

