
<section>
  <a style="color: white; text-decoration: none;" href="/"><h1>SkiDash</h1></a>

    <%= form_tag("/mountains", method: "get") do %>
    <div class="col-md-3 td-top" id="mountain-button1" style="display: block">
    <%= collection_select :mountain1, :id, Mountain.order(:name), :id, :name, {:include_blank => "Select Mountain"}, {class: "form-control", id: "mountain-form"} %>
      </div>
    <div class="col-md-3 td-top" id="mountain-button1" style="display: block">
    <%= collection_select :mountain2, :id, Mountain.order(:name), :id, :name, {:include_blank => "Select Mountain"}, {class: "form-control", id: "mountain-form"} %>
    </div>
    <div class="col-md-3 td-top" id="mountain-button1" style="display: block">
      <%= collection_select :mountain3, :id, Mountain.order(:name), :id, :name, {:include_blank => "Select Mountain"}, {class: "form-control", id: "mountain-form"} %>
    </div>
    <div class="col-md-3 td-top" id="mountain-button1" style="display: block">
      <%= collection_select :mountain4, :id, Mountain.order(:name), :id, :name, {:include_blank => "Select Mountain"}, {class: "form-control", id: "mountain-form"} %>
    </div>
    <div id="button"><%= submit_tag("Get Forecasts", {class: "btn btn-primary btn-default btn-lg"}) %></div>
    <% end %>

</section>


<%= render partial: "shared/background_video" %>

