<%= image_tag @weather_lookup_aba.icon %>
<p><%= @weather_lookup_aba.temperature %>&#176; <%= @weather_lookup_aba.condition %></p>
<p>Wind: <%= @weather_lookup_aba.wspd %> mph</p>
<p>Humidity: <%= @weather_lookup_aba.humidity %>%</p>
