<ul style="list-style: none;">
<li><%= image_tag @weather_lookup_eld.icon %></li>
<li><%= @weather_lookup_eld.temperature %>&#176; <%= @weather_lookup_eld.condition %></li>
<li>Wind: <%= @weather_lookup_eld.wspd %> mph</li>
<li>Humidity: <%= @weather_lookup_eld.humidity %>%</li>
</ul>
<p><b>Today:</b> <%= @weather_forecast_lookup_eld.forecast_today %></p>
<p><b><%= @weather_forecast_lookup_eld.forecast_title_day2 %>:</b> <%= @weather_forecast_lookup_eld.forecast_day2 %></p>
