<%= image_tag @weather_lookup_eld.icon %>
<p><%= @weather_lookup_eld.temperature %>&#176; <%= @weather_lookup_eld.condition %></p>
<p>Wind: <%= @weather_lookup_eld.wspd %> mph</p>
<p>Humidity: <%= @weather_lookup_eld.humidity %>%</p>
