<div class="row">
  <section id="forecasts">
    <% @mountain_conditions.each do |mountain| %>
      <div class="col-md-3 td-top" id="forecast-box">
        <h2><%= mountain[:name] %></h2>
        <ul style="list-style: none;">
          <li><%= image_tag mountain[:icon] %></li>
          <li><%= mountain[:high_temp] %>&#176; / <%= mountain[:low_temp] %>&#176; </li>
          <li>Current Temp: <%= mountain[:temperature] %>&#176;</li>
          <li> Condition: <%= mountain[:condition] %></li>
          <li> Wind: <%= mountain[:wind] %></li>
          <li>Snow Today: <%= mountain[:snow_today] %>"</li>
        </ul>
        <p><b>Today:</b> <%= mountain[:forecast_today] %></p>

        <p><b><%= mountain[:forecast_title_day2] %>:</b> <%= mountain[:forecast_day2] %></p>

        <p><b><%= mountain[:forecast_title_day3] %>:</b> <%= mountain[:forecast_day3] %></p>
      </div>
    <% end %>
  </section>
</div>

<div class="row">
  <% @mountain_conditions.each do |mountain| %>
    <div class="col-md-3 camera" id="camera1">
      <section>
        <h4 style="text-align: center"><%= mountain[:name] %></h4>

        <!--carousel-->

        <div id="slider">
          <figure>
            <%= link_to image_tag(mountain[:mtn_image1]), mountain[:mtn_image1], :target => "_blank" %>
            <%= link_to image_tag(mountain[:mtn_image2]), mountain[:mtn_image2], :target => "_blank" %>
            <%= link_to image_tag(mountain[:mtn_image3]), mountain[:mtn_image3], :target => "_blank" %>
          </figure>
        </div>


      </section>
    </div>
  <% end %>
</div>

<div class="row">

  <% @mountain_conditions.each do |mountain| %>
    <div class="col-md-3 camera" id="camera1">
      <section>
        <div id="lift-status" style="display: block;">

          <h4>Trails Open: <%= mountain[:runs_open] %></h4>
          <h4>Lifts Open: <%= mountain[:lifts_open] %></h4>
          <h4>Base: <%= mountain[:base] %>"</h4>

          <%= link_to "Full Terrain Report", mountain[:terrain_url], :target => "_blank" %>
          <br>

        </div>

      </section>
    </div>
  <% end %>
</div>

