<%= image_tag @weather_lookup_ste.icon %>
<p><%= @weather_lookup_ste.temperature %>&#176; <%= @weather_lookup_ste.condition %></p>
<p>Wind: <%= @weather_lookup_ste.wspd %> mph</p>
<p>Humidity: <%= @weather_lookup_ste.humidity %>%</p>
<p><b>Today:</b> <%= @weather_forecast_lookup_ste.forecast_today %></p>
<p><b><%= @weather_forecast_lookup_ste.forecast_title_day2 %>:</b> <%= @weather_forecast_lookup_ste.forecast_day2 %></p>

