<%= image_tag @weather_lookup_bre.icon %>
<p><%= @weather_lookup_bre.temperature %>&#176; <%= @weather_lookup_bre.condition %></p>
<p>Wind: <%= @weather_lookup_bre.wspd %> mph</p>
<p>Humidity: <%= @weather_lookup_bre.humidity %>%</p>
