<p>
  Weather Forecast
</p>
<p><%= @weather_lookup.temperature %>&#176; <%= @weather_lookup.condition %></p>
<p>Wind: <%= @weather_lookup.wspd %> mph</p>
<p>Humidity: <%= @weather_lookup.humidity %>%</p>
<%= image_tag @weather_lookup.icon %>