<%= image_tag @weather_lookup_ste.icon %>
<p><%= @weather_lookup_ste.temperature %>&#176; <%= @weather_lookup_ste.condition %></p>
<p>Wind: <%= @weather_lookup_ste.wspd %> mph</p>
<p>Humidity: <%= @weather_lookup_ste.humidity %>%</p>
