<div class="row">
<div class="col-md-6 camera" id="tweets">
  <section id="road_cams">
    <h3>Road & Traffic Conditions</h3>
    <h4><%= @road_condition.conditions %></h4>

    <%= link_to image_tag("http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070E221-30-E.jpg&v=00491"), "http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070E221-30-E.jpg&v=00491", :target => "_blank" %>
    <%= link_to image_tag("http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070W228-85-E.jpg&v=00491"), "http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070W228-85-E.jpg&v=00491", :target => "_blank" %>
    <%= link_to image_tag("http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070W242-40-E.jpg&v=00491"), "http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070W242-40-E.jpg&v=00491", :target => "_blank" %>
    <%= link_to image_tag("http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070E242-00-E.jpg&v=00491"), "http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070E242-00-E.jpg&v=00491", :target => "_blank" %>
    <%= link_to image_tag("http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070E186-40-E.jpg&v=00491"), "http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070E186-40-E.jpg&v=00491", :target => "_blank" %>
    <%= link_to image_tag("http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070W208-90-E.jpg&v=00491"), "http://i.cotrip.org/dimages/camera?imageURL=remote/CTMCCAM070W208-90-E.jpg&v=00491", :target => "_blank" %>


  </section>

</div>
</div>